
<div class="container">
  <div class="card shadow-sm" *ngIf="product">
    <img src="{{product.pictureUrl}}" alt="{{product.productName}}" class="img-fluid" style="height: 280px;">
    <div class="card-body">
      <a href='' class="text-decoration-none">
        <h6 class="text-uppercase">
          {{product.productName}}
        </h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/shop/{{product.id}}">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-body-secondary">9 mins</small>
      </div>
    </div>
  </div>
</div>

