<header class="d-flex flex-row  align-items-center p-3 px-4 fixed-top justify-content-lg-between 
border-bottom bg-dark bg-gradient ">
<img src="../../assets/img/logo.jpg" alt="logo" style="max-height: 80px;" routerLink="/" >
  <nav  class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
    <a  class="me-3 py-2  " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
    <a class="me-3 py-2 " routerLinkActive="active">About</a>
    <a class="me-3 py-2 " routerLink="/shop" routerLinkActive="active" >Menu</a>
    <a class="me-3 py-2  " routerLink="/"  >Specials</a>
    <a class="me-3 py-2 "routerLink="/" >Events</a>
    <a class="me-3 py-2  " routerLink="/" >Contact</a>
    <a  class="me-3 py-2 " routerLink="/" >Book a table</a>
  </nav><!-- .navbar -->
  <div class="menu">
    <a style="position: relative;">
        <i class="fa fa-shopping-cart fa-2x me-5 text-light" ></i>
        <div class="cart-no ">5</div>
    </a>
    
  </div>
  

  
</header><!-- End Header -->
